@model CarService.Models.Entities.TblJobRemark

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<div class="row">
    <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="FldJobId" class="form-control" hidden />
            <div class="form-group">
                <label asp-for="FldRemarkTitle" class="control-label"></label>
                <input asp-for="FldRemarkTitle" class="form-control" />
                <span asp-validation-for="FldRemarkTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*Method called from parent page*@
            <input type="button" value="Create" class="btn btn-primary" onclick="CreateJobItem()" />
            </div>
    </div>
</div>
