@model CarService.Models.Entities.TblJobRemark

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<div class="row">
    <div class="col-md-10">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="FldJobId" class="form-control" hidden />
        <div class="form-group">
            <input asp-for="FldRemarkTitle" class="form-control" list="RemarkSuggestion" autofocus />
            <span asp-validation-for="FldRemarkTitle" class="text-danger"></span>
            <datalist id="RemarkSuggestion">
                @foreach (SelectListItem item in ViewBag.Remarks)
                {
                    <option value="@item.Text">@item.Text</option>
                }
            </datalist>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            @*Method called from parent page*@
            <input type="button" value="Add Remark" class="btn btn-primary" onclick="CreateJobItem()" />
        </div>
    </div>
</div>
