html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*--------------- form controls modified--------------*/
.form-group{
    padding-top:1rem;
}
.control-label {
    color: var(--bs-secondary);
    font-size:small;
}
.field-validation-error {
    font-size: small;
}
/*--------------- table modified--------------*/
.table thead tr th, .table tr th, .table th {
    background-color: var(--bs-light);
    border: none !important;
}
