html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.NotAllowed{
    pointer-events:none;
}
.DisableBlock {
    filter: opacity(0.5);
    pointer-events: none !important;
    cursor: not-allowed !important;
    -moz-user-focus: none !important;
    -webkit-user-focus: none !important;
    -ms-user-focus: none !important;
    user-focus: none !important;
    -moz-user-modify: read-only !important;
    -webkit-user-modify: read-only !important;
    -ms-user-modify: read-only !important;
    user-modify: read-only !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
/*--------------- form controls modified--------------*/
.form-group{
    padding-top:1rem;
}
.control-label {
    color: var(--bs-secondary);
    font-size:small;
}
.field-validation-error {
    font-size: small;
}
/*--------------- table modified--------------*/
.table thead tr th, .table tr th, .table th, tfoot tr td {
    background-color: var(--bs-light);
    border: none !important;
}

/*--------------- icon button --------------*/


.IconButton {
    width: 36px;
    height: 36px;
    cursor: pointer;
    padding: 4px;
    margin-left: 2px;
    margin-right: 2px;
    filter: drop-shadow(1px 1px 2px #6c757d1c);
}

    .IconButton:hover {
        padding: 0px;
        transition: all linear 0.2s;
        filter: drop-shadow(2px 2px 5px #6c757d5d);
    }


/*--------------- transperent background --------------*/
.bg-primary-transperent {
    --bs-bg-opacity: 0.2;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}

.bg-secondary-transperent {
    --bs-bg-opacity: 0.2;
    background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)) !important;
}

.bg-success-transperent {
    --bs-bg-opacity: 0.2;
    background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
}

.bg-info-transperent {
    --bs-bg-opacity: 0.2;
    background-color: rgba(var(--bs-info-rgb), var(--bs-bg-opacity)) !important;
}

.bg-warning-transperent {
    --bs-bg-opacity: 0.2;
    background-color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity)) !important;
}

.bg-danger-transperent {
    --bs-bg-opacity: 0.2;
    background-color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity)) !important;
}

.bg-light-transperent {
    --bs-bg-opacity: 0.2;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

.bg-dark-transperent {
    --bs-bg-opacity: 0.2;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.bg-black-transperent {
    --bs-bg-opacity: 0.2;
    background-color: rgba(var(--bs-black-rgb), var(--bs-bg-opacity)) !important;
}

.bg-white-transperent {
    --bs-bg-opacity: 0.2;
    background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
}


@media print {

    @page {
        margin-left: 0.5in;
        margin-right: 0.5in;
        margin-top: 0;
        margin-bottom: 0;
        size: A4 portrait;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    body {
        -webkit-print-color-adjust: exact;
        visibility: hidden;
    }
    header,footer{
        display:none;
    }

    .container {
        margin: 0px !important;
        max-width: 100% !important;
    }

    .PrintArea {
        visibility: visible !important;
    }

    .col-md-1 {
        width: 8%;
        float: left;
    }

    .col-md-2 {
        width: 16%;
        float: left;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33%;
    }

    .col-md-5 {
        width: 42%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58%;
    }

    .col-md-8 {
        width: 66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83%;
    }

    .col-md-11 {
        width: 92%;
    }

    .col-md-12 {
        width: 100%;
    }
}