@model CarService.Models.Entities.TblJobRemarkMaster

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Confirmation</h1>

<br />
<br />
<div>
    <h4>  @Html.DisplayFor(model => model.FldRemarkTitle)</h4>
<br />
<br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="FldRemarkId" />
        <input type="submit" value="Yes, Confirm Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-outline-primary" >No, Back to List</a>
    </form>
</div>
