@model CarService.Models.Entities.TblJobMaster

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-danger pt-4 pb-4" >Delete Confirmation</h1>
<hr />
<br />
<br />
<h3>
    All job details, along with estimate, invoices and payments will be deleted.
</h3>
<br />
<br />

<div>
   
    <form asp-action="Delete">
        <input type="hidden" asp-for="FldJobId" />
        <input type="submit" value="Yes, Confirm Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-outline-primary" >No, Back to List</a>
    </form>
</div>
