@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class="col-md-3">
        <div class="input-group">
            <input type="date" id="StartDate" class="form-control" />
            <input type="date" id="EndDate" class="form-control" />
        </div>
    </div>
    <div class="col-md-2"> <input type="text" id="SerchJobInvoice" class="form-control" placeholder="Job / Invoice Number" /> </div>
    <div class="col-md-3"> <input type="text" id="SearchCustomer" class="form-control" placeholder="Name / contact / Vehicle Number" /> </div>
    <div class="col-md-2">
        @*<div class="form-check-inline" title="Vehicle is delivered & payment is still pending" data-toggle="tooltip" data-placement="top">*@
            <input type="checkbox" class="btn-check" id="Chk_Status_01" value="Payment" onchange="FilterByStatus()">
            <label for="Chk_Status_01" class="btn btn-outline-danger">Pending payment</label>
        @*</div>*@
    </div>
    <div class="col-md-2 d-flex justify-content-end">
        <input type="button" value="Search" class="btn btn-primary me-2" onclick="RefreshResult()" />
        <input type="button" id="btn_DownloadCSV" value="CSV" class="btn btn-success me-2" onclick="DownloadCSV()" />
        <input type="button" id="btn_DownloadInvoice" value="Invoices" class="btn btn-success" onclick="DownloadAllInvoices()" />
    </div>
</div>
<div class="row" id="Results" >

</div>

<script type="text/javascript">
    setTimeout(function () { 
        var today = new Date(Date.now() + 1 * 24 * 60 * 60 * 1000).toISOString().split('T')[0];
        var lastweek = new Date(Date.now() - 30 * 24 * 60 * 60 * 1000).toISOString().split('T')[0];

        $("#EndDate").val(today);
        $("#StartDate").val(lastweek);
        RefreshResult();
    
    }, 200);
function RefreshResult(){
    var SendData = new Object();
        SendData.StartDate = $("#StartDate").val();
        SendData.EndDate = $("#EndDate").val();
        SendData.SerchJobInvoice = ($("#SerchJobInvoice").val()).toLowerCase();
        SendData.SearchCustomer = ($("#SearchCustomer").val()+"").toLowerCase();
        SendData.PendingPayment = $("#Chk_Status_01").is(":checked");
        //SendData.SearchJob = $("#SearchJob").val();
        //SendData.SearchInvoice = $("#SearchInvoice").val();
        $("#Results").load(window.location.origin +"/JobMasters/History",SendData,function(){
           if($("#ReportResult tr").length>0)
           {
                $("#btn_DownloadCSV").show(); 
                $("#btn_DownloadInvoice").show(); 
           }
           else{
                $("#btn_DownloadCSV").hide();
                $("#btn_DownloadInvoice").hide();
           }
        });
        
}
</script>