@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class="col-md-2"><input type="date" id="StartDate" class="form-control" /></div>
    <div class="col-md-2"><input type="date" id="EndDate" class="form-control" /></div>
    <div class="col-md-2"> <input type="text" id="SerchJobInvoice" class="form-control" placeholder="Job / Invoice Number" /> </div>
    <div class="col-md-4"> <input type="text" id="SearchCustomer" class="form-control" placeholder="Name / contact / Vehicle Number" /> </div>
    <div class="col-md-2"><input type="button" value="Search" class="btn btn-success" onclick="RefreshResult()" /></div>
</div>
<div class="row" id="Results" >

</div>

<script type="text/javascript">
    setTimeout(function () { 
        var today = new Date(Date.now() + 1 * 24 * 60 * 60 * 1000).toISOString().split('T')[0];
        var lastweek = new Date(Date.now() - 30 * 24 * 60 * 60 * 1000).toISOString().split('T')[0];

        $("#EndDate").val(today);
        $("#StartDate").val(lastweek);
        RefreshResult();
    
    }, 200);
function RefreshResult(){
    var SendData = new Object();
        SendData.StartDate = $("#StartDate").val();
        SendData.EndDate = $("#EndDate").val();
        SendData.SerchJobInvoice = ($("#SerchJobInvoice").val()).toLowerCase();
        SendData.SearchCustomer = ($("#SearchCustomer").val()+"").toLowerCase();
        //SendData.SearchJob = $("#SearchJob").val();
        //SendData.SearchInvoice = $("#SearchInvoice").val();
        $("#Results").load(window.location.origin +"/JobMasters/History",SendData);
}
</script>