@model CarService.Models.Entities.TblOrganizationMaster

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-danger" >Delete Confirmation</h1>
<br />
<br />
<h3>Are you sure you want to delete  <span class="text-primary">@Model.FldOrgName</span>? </h3>
<br />
<br />
<div class="row fs-4 p-4">
    All organization details along with job and invoices will be deleted
</div>
<br />
<br />

<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="FldOrgId" />
        <input type="submit" value="Yes, Confirm Delete" class="btn btn-danger mr-2" />
        <a asp-action="Index" class="btn btn-outline-primary" >No, Back to List</a>
    </form>
</div>
